* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 20px; }

body {
  padding: 0;
  margin: 0;
  color: #222222;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-y: hidden;
  line-height: 1.5;
  font-size: 0.8rem; }

input,
button, select {
  font-size: inherit;
  font-family: inherit;
  outline: 0; }
  input:active,
  button:active, select:active {
    outline: 0; }

.halfWidth {
  width: 50%; }

.inputWrapper {
  padding-top: 11px;
  padding-bottom: 11px; }

.inputLabel {
  font-size: 14px;
  color: #666666;
  display: block;
  margin: 0 0 5px; }

.input {
  height: 32px;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #f6f6f6;
  border: 1px solid #f6f6f6;
  color: #444444;
  border-radius: 4px;
  padding: 0 8px;
  font-size: inherit; }
  .input.wide {
    width: 400px; }
  .input:active, .input:focus {
    outline-width: 0;
    border: 1px solid #013c89; }
  .input.error {
    border: 1px solid #dc1d30; }

button {
  cursor: pointer; }

a {
  color: #dc1d30; }

p {
  line-height: 1.5; }

input[disabled] {
  cursor: not-allowed; }

.flex {
  display: flex; }

.flexSpace {
  width: 10px; }

.flexGrow {
  flex-grow: 1; }

.link {
  color: #dc1d30;
  background: transparent;
  padding: 0;
  border: 0;
  margin: 0 0 0 20px; }

.container {
  padding: 15px 20px; }

.optionContainer {
  padding: 0 20px; }

.separator {
  width: 100%;
  height: 0;
  border: 0;
  margin: 0;
  border-bottom: 1px solid #dddddd; }

#zethus-wrapper {
  display: flex;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden; }

#zethus-viewport {
  width: 100%;
  flex-grow: 1;
  height: 100%;
  position: relative; }

.btn-primary {
  border: 0;
  margin: 0;
  padding: 6px 20px;
  border-radius: 4px;
  color: white;
  background-color: #dc1d30;
  font-size: 16px; }
  .btn-primary[disabled] {
    background-color: #dddddd; }

#zethus-content {
  width: 0;
  flex-grow: 1;
  flex-shrink: 1; }

#zethus-viewportStats {
  position: absolute !important;
  top: auto !important;
  left: auto !important;
  right: 0 !important;
  bottom: 0 !important; }

.zethus-vizImageContainer {
  display: flex;
  position: absolute;
  background-color: #fff;
  flex-direction: column;
  cursor: move;
  border-radius: 4px;
  border: 1px solid #dddddd; }
  .zethus-vizImageContainer canvas {
    width: 320px;
    height: 240px; }

.zethus-vizImageHeader {
  display: flex;
  font-size: 14px;
  padding: 2px 5px;
  border-bottom: 1px solid #dddddd; }

.zethus-vizImageName {
  pointer-events: none;
  user-select: none; }

.zethus-vizImageClose {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: inherit;
  text-decoration: underline;
  font-size: inherit;
  font-family: inherit; }
  .zethus-vizImageClose:hover {
    text-decoration: none; }

#zethus-scene {
  flex-grow: 1;
  width: 100%; }

.zethus-vizItem {
  padding: 10px 0;
  border-bottom: 1px solid #f6f6f6; }

.zethus-vizItemContent {
  margin-top: 8px;
  margin-left: 24px; }

.zethus-vizItemActions {
  display: flex;
  margin-top: 8px; }
  .zethus-vizItemActions button {
    background: #f6f6f6;
    border: 0;
    border-radius: 4px;
    color: #888888;
    padding: 5px 10px;
    font-size: 0.6rem; }
    .zethus-vizItemActions button:hover {
      background-color: #dc1d30;
      color: #ffffff; }
    .zethus-vizItemActions button + button {
      margin-left: 10px; }

.zethus-vizItemCollapse {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0 3px 0 0;
  width: 20px;
  height: 20px; }
  .zethus-vizItemCollapse img {
    width: 14px; }
  .zethus-vizItemCollapse.collapsed {
    transform: rotate(-90deg); }

.zethus-vizItemIcon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #f6f6f6;
  margin-right: 10px;
  border-radius: 4px; }

.zethus-typeHeading {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 5px; }
