<?xml version="1.0"?>
<robot name="testy" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro"/>
    <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model_macro.xacro" />

    <xacro:ur5_robot prefix="" joint_limited="true" />

    <joint name="robot_to_hand" type="fixed">
        <parent link="tool0"/>
        <child link="robotiq_arg2f_base_link"/>
        <origin xyz="0 0 0" />
    </joint>
    <xacro:robotiq_arg2f_85 prefix="" />
</robot>